/* title-section */
.title-section {
  grid-area: homepage;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
  grid-template-areas:
    " .  title title title . "
    " . about .  skills ."
    " . subtitle subtitle subtitle . "
    " . links links links . "
    " . . down night .";


  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--first-in-color);

  font-size: large;
}
/* 
@media (min-width: 900px) {
  .title-section {
    grid-template-areas:
      " .  title title title . "
      " . about .  skills ."
      " . subtitle subtitle subtitle . "
      " . links links links . "
      " . . down night night";

  }
} */


.title-section > .about-btn {
  grid-area: about;
}

.title-section > .skills-btn {
  grid-area: skills;
}

.title-section > h1 {
  grid-area: title;
  height: 20vh;
  margin-top: 10vh;
}

.title-section > h2 {
  grid-area: subtitle;
  height: 20vh;
}

.title-section > .contact-links {
  grid-area: links;
}


.title-section > .night-mode {
  grid-area: night;
}


