/* title-section */
.title-section {
  grid-area: homepage;
  height: 100vh;
  display: grid;
  grid-template-columns: 10rem 3fr 10rem;
  grid-template-rows: auto;
  grid-template-areas:
  " . . nav"
    " . title . "
    " subtitle subtitle subtitle "
    " . links . "
    " . down .";

  align-content: center;
  justify-content: stretch;
  height: 100vh;
  background-color: var(--first-in-color);

  font-size: large;
}

.title-section > h1 {
  grid-area: title;
  height: 20vh;
}

.title-section > h2 {
  grid-area: subtitle;
  height: 20vh;
}

.title-section > .contact-links {
  grid-area: links;
}

